
.container{
	margin: 0 auto;
}

#logo{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 50%;
}

#allTab{
	margin-right: 5% !important;
}
#onlineTab{
	margin-right: 5% !important;
}


.code{
	font-size: 14px;
}
.code a{
	color: purple;
}
.code a:hover{
	color: yellow;
	text-decoration: none;
}
.code img{
	width: 4%;
}
